doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= title
        form(action="/update-cobj" method="POST")
            div
                label(for="name") Name:
                input(type="text" name="name" id="name")
            div
                label(for="year") Year:
                input(type="text" name="year" id="year")
            div
                label(for="genre") Genre:
                input(type="text" name="genre" id="genre")
            div
                button(type="submit") Submit

            br
            a(href="/") Return to the homepage